@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato:300,400,700&display=swap');

html {
  min-height: 100%;
}

/* Lato chosen as font-family for entire site
to give a minimalistic look */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

header {
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

/* standard <a> links for the entire site styled with the #6bb8ff color
to make colors uniform and text-decoration set to none
to keep away the outdated underline style */

a {
  color: #6bb8ff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*  Buttons
Any styling for buttons on the website can be
found here */
.btn-cta {
  border-radius: 23px;
  font-weight: bold;
  width: 160px;
}

.btn-blue {
  color: #ffffff;
  background-color: #6bb8ff;
  border-color: #6bb8ff;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:active:focus {
  background-color: #5897d1;
  border-color: #5897d1;
  color: #ffffff;
}

.btn-yellow {
  color: #ffffff;
  background-color: #fbc52c;
  border-color: #fbc52c;
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus,
.btn-yellow:active:focus {
  background-color: #D4A526;
  border-color: #D4A526;
  color: #ffffff;
}

.button-link {
  color: #ffffff;
}

button[type="submit"] {
  margin-top: 20px;
  margin-bottom: 30px;
}

#meals-container button {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* full width images */
#dog-image-container {
  height: 50vh;
  background-image: url("../images/background/bottom-image.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
}

/*Transparency code snippet taken from: https://www.w3schools.com/css/css_image_transparency.asp*/
#two-dogs-image-container {
  height: 40vh;
  background-image: url("../images/background/two-happy-dogs.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  margin-bottom: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/*  Navigation bar */
.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-size: 125%;
}

/* Footer */
footer {
  background-color: rgba(220, 220, 220, 0.8);
  min-height: 120px;
  margin: 0;
}

#footer-information {
  padding: 20px;
}

.footer-contact {
  display: inline-block;
  text-align: center;
}

.footer-contact h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
  font-weight: bold;
}

.footer-contact h5 {
  margin-top: 20px;
}

.footer-contact p {
  font-size: 18px;
  margin-top: 20px;
}
/* text-decoration property added after the suggestion from Anna_G in the Slack community
that the underline when hovering is outdated */

footer a {
  color: #000000;
}
.footer-contact a {
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.footer-contact a:hover {
  color: #fbc52c
}

.footer-nav a {
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.footer-nav a:hover {
  color: #fbc52c
}

.footer-nav {
  line-height: 3pt;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-nav p {
  padding-top: 10px;
}


.footer-social {
  font-size: 18px;
  color: #000000;
  text-align: center;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-social h5 {
  margin-bottom: 20px;
}

/* Icon transitions code based on Resume Mini Project to make the icons in the footer transition
smoothly and match the rest of the page style*/
.footer-social li a i {
  font-size: 35px;
  line-height: 10px;
  width: 30px;
  height: 30px;
  padding: 12px 0;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  text-rendering: optimizeLegibility;
}

.footer-social i:hover {
  color: #fbc52c
}

/* Added due to the suggestion from peer-review on slack.
This makes the phone icon appear more "normal". */
.fa-phone {
  transform: rotate(90deg);
}

/* Home Page: Landing Area */
/* Added margin-top to stop landing image from disappearing under navbar and to simulate spacing with the help of Anthony from the Slack communitt */
/* Basic code taken from CSS tricks (Perfect Background Image): https://css-tricks.com/perfect-full-page-background-image/ and modified */
#landing-container {
  height: 90Vh;
  width: 100%;
  background: url("../images/background/typ-background-image-mobile.jpg") no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (min-width:768px) {
  #landing-container {
    background: url("../images/background/typ-background-image-small.jpeg") no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1100px) {
  #landing-container {
    margin-top: 70px;
    background: url("../images/background/treat-your-pup-desktop-background.jpg") no-repeat bottom right fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#jumbotron {
  background-color: rgba(220, 220, 220, 0.8)
}

@media screen and (min-width: 1300px) {
  #jumbotron {
    background-color: transparent;
  }
}

#landing-header {
  margin-bottom: 10px;
}

/* Home Page: Benefits */
#benefits-container {
  margin: 30px auto;
}

.benefit h3 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/* Home Page: Veterinarian Review Section */
#vet-container {
  background-color: rgba(220, 220, 220, 0.8)
}

#vet-image-mobile {
  display: block;
  margin: 30px auto 0 auto;
}

#vet-image-large {
margin: auto;
}

#vet-review {
  margin: auto 20px;
}

.vet-review h2 {
  margin-bottom: 30px;
}

/* Home Page: What is and isn't included */
#included-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.item p {
  margin-bottom: 30px;
}

.item h3 {
  text-align: center;
  margin-bottom: 30px;
}

.fa-times {
  color: #E62329;
}

.fa-check {
  color: #0C9559;
}

/* Home Page: Customer reviews */
#reviews-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.review {
  margin: 30px auto;
}

.review p {
  font-weight: light;
}

.review-image {
  margin: 0 auto;
}


/*----- Contact Page --- */

/*Contact Container is pushed down from the top to keep the fixed navbar
from covering it. */
.contact-container {
  display: block;
  margin-top: 70px;
}

.contact-heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-subhead {
  margin-bottom: 20px;
}

.center-form {
  max-width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}

/* There is a media query for screens larger than 768px to keep
the background image of the dog from appearing on smaller screens.
The second media query is in order to keep the form from spreading too
wide on larger screens. */

@media screen and (min-width: 768px) {
  .contact-container {
    background: url("../images/background/bottom-image.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  .center-form {
    max-width: 60%;
    min-height: 30vh;
  }
}

/*----- Meals Page ----*/

/* The styling for the Meals Page is mainly padding and margins
in order to center the content and space everything out.  */
.main-content {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.meals-container .media {
  padding-bottom: 20px;
}

.meals-plain {
  padding-bottom: 40px;
}

.meals-special {
  padding-bottom: 40px;
}

.meals-container h2 {
  margin-bottom: 30px;
  background-color: rgba(220, 220, 220, 0.8);
}

/*---- FAQ Page ---*/

.faq-container {
  margin-top: 60px;
}

.faq-container h2 {
  margin-top: 20px;
}

.col-12 ul {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  line-height: 20pt;
  list-style: none
}

.faq-container h3 {
  background-color: rgba(220, 220, 220, 0.8);
}

.faq-question {
  color: #6bb8ff
}
